<a href="https://colab.research.google.com/github/siddhartha-collab/DATA-ANALYTICS/blob/main/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = [1, 2, "hello", 4.5]
print(f"List: {my_list}")

List: [1, 2, 'hello', 4.5]

In [2]:
my_tuple = (10, "world", 20)
print(f"Tuple: {my_tuple}")

Tuple: (10, 'world', 20)

In [3]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(f"Dictionary: {my_dict}")

Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [5]:
# Create a DataFrame (requires pandas library)
import pandas as pd

# From a dictionary of lists
data = {
    "Name": ["John", "Anna", "Peter"],
    "Age": [28, 24, 35],
    "City": ["London", "Paris", "Berlin"]
}
df_from_dict = pd.DataFrame(data)
print("\nDataFrame from Dictionary:")
print(df_from_dict)

# From a list of lists
data_list = [
    ["John", 28, "London"],
    ["Anna", 24, "Paris"],
    ["Peter", 35, "Berlin"]
]
df_from_list = pd.DataFrame(data_list, columns=["Name", "Age", "City"])
print("\nDataFrame from List of Lists:")
print(df_from_list)

DataFrame from Dictionary:
    Name  Age    City
0   John   28  London
1   Anna   24   Paris
2  Peter   35  Berlin

DataFrame from List of Lists:
    Name  Age    City
0   John   28  London
1   Anna   24   Paris
2  Peter   35  Berlin

In [6]:
import pandas as pd

# Create a sample DataFrame (replace with your actual DataFrame)
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
# 'output.csv' is the desired filename.
# index=False prevents Pandas from writing the DataFrame index as a column in the CSV.
df.to_csv('output.csv', index=False)

print("DataFrame saved successfully to output.csv")

DataFrame saved successfully to output.csv